.manage-hero {
  padding: 94px 0 115px 0;
}

.manage-hero__img {
  max-width: 1110px;
}

.manage-main {
  display: flex;
}

.manage-main__resumo {
  margin-right: 125px;
}

.manage-resumo__titulo {
  padding: 48px 0 29px 0;
}

.manage-resumo__paragrafo {
  padding-bottom: 53px;
}

.linguagem {
  padding: 16px 0 32px 0;
}

.manage-section__btn {
  display: block;
  padding: 17px 60px;
  background: none;
  border: 1px solid #33323D;
  margin-bottom: 48px;
}

.manage-main__projeto {
  max-width: 635px;
}

.manage-projeto__titulo,
.manage-projeto__preview {
  padding-bottom: 28px;
}

.manage-projeto__paragrafo {
  padding-bottom: 40px;
}

.manage-projeto__foto1,
.manage-projeto__foto2 {
  width: 635px;
}

.manage-projeto__foto1 {
  padding-bottom: 32px;
}

.manage-projeto__foto2 {
  padding-bottom: 64px;
}

.contato-section {
  padding-top: 115px;
}

.avanca-volta {
  display: inline-flex;
  align-items: center;
}

.avanca-volta__btn {
  background: none;
  border: none;
  margin: 32px 0 32px 0;
}

.volta-btn {
  text-align: left;
  margin-left: 32px;
  padding-right: 770px;
}

.avanca-btn {
  text-align: right;
  margin-right: 32px;
}

.opacidade {
  opacity: 0.5;
}